################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Minecraft Rewritten.sln
/Minecraft Rewritten.vcxproj
/Minecraft Rewritten.vcxproj.filters
/Minecraft Rewritten.vcxproj.user
/Minecraf.941A8D62/x64/Debug
